---
Language: C
BasedOnStyle: LLVM

# Indentation and line width
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
ContinuationIndentWidth: 4

# Pointer and reference alignment
PointerAlignment: Right
DerivePointerAlignment: false
SpaceAfterCStyleCast: false

# Alignment
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AlignAfterOpenBracket: Align
AlignOperands: true

# Braces and line breaks
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  AfterNamespace: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# Short statements
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortLambdasOnASingleLine: None

# Macros and comments
AlignConsecutiveMacros: true
ReflowComments: true
SpacesBeforeTrailingComments: 1

# Misc
SortIncludes: false
SortUsingDeclarations: true
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 1
Standard: Latest
...